.limiter {
  justify-content: space-between;
  align-items: center;
  max-width: 2000px;
  margin: 0 auto;
  padding: 20px 5%;
}

nav {
  transition: all 0.3s ease-in-out;
  z-index: 9;
  position: fixed;
  width: 100%;
  z-index: 99;
  .limiter {
    display: flex;

    #burger {
      display: none;
      z-index: 999;
    }

    .logo {
      width: 100px;
      img {
        width: 250px;
      }
    }

    .navlinks {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: auto;
      position: relative;
      top: auto;
      right: auto;
      height: auto;
      transform: translateX(0%);
      overflow-y: visible;
      padding: 0;
      color: white;

      .navitems {
        list-style-type: none;
        padding-left: 3rem;
        a {
          text-decoration: none;

          color: white;
        }
      }

      .button {
        a {
          font-size: 14px !important;
          background-color: #e505c1;
          color: black;
          padding: 5px;
          font-weight: bold;
        }
      }
    }

    .active {
      transform: translateX(0%) !important;
    }

    @media (max-width: 800px) {
      #burger {
        display: block;

        .burgerlines {
          //   border-bottom: 2px solid white;
          background-color: black;
          height: 3px;
          width: 40px;
          margin: 6px 0px;
        }
      }
      .navlinks {
        width: 60vw;
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        transform: translateX(100%);
        transition: 0.3s ease-in-out;
        overflow-y: none;

        background-color: #181818;
        flex-flow: column;
        justify-content: center;
        align-items: flex-start;
        font-size: 1rem;
        li {
          margin: 10px 0px;
        }
      }
    }
  }
}

.scrolled {
  background-color: $primary;
}
